#description{
    justify-content: center;
    display: flex;
    font-size:clamp(1rem,1.2vw,2.5rem);
    color:black;
    padding:2em;
   
}

#inputs{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction:column;
    padding:20px;
    flex-wrap:wrap;
}

.search-bar{
    border-color: white;
    width:clamp(200px,50vw,400px);
    text-align: center;
    font-size:clamp(1rem,1.2vw,1.25rem);
    height:clamp(45px, 2vh, 60px);
    border-radius: 21px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.search-button{
    padding:10px 20px;
    font-size:clamp(1rem,.8vw,2.5rem);
    background-color:rgb(177,10,243);
    color:white;
    border:none;
    cursor:pointer;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    border-radius: 21px;
}
.search-button:hover{
    color: black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
   

    
}
.create-button:hover{
    color: black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}

.create-button{
   margin-top: 10px;
    padding:10px 20px;
    font-size:clamp(1rem,.8vw,2.5rem);
    background-color:rgb(177,10,243);
    color:white;
    border:none;
    cursor:pointer;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    border-radius: 21px;
 
}

#homepage-image{
    max-width:45vw;
    height:auto;
    border-radius:2%;
}