nav {
  position: sticky;
  top: 0px;
}

#nav-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding: 0px 20px;
}

a {
  color: black;
  display: flex;
  align-items: center;

  transition: 0.4s ease;
}

.hover:hover {
  font-size: 1.5em;
  color:#FF5F00;
}

.logo span{
  font-family: 'Pacifico', arial;
  font-size: 1.4em;
}

.black {
  color: black;
}

.orange {
  color: #FF5F00;
}

#nav-links {
  font-size: 1.3em;
  display: flex;
  gap: 20px;
}

#auth-links {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  gap: 20px;
}

#bee {
  position: relative;
  display: inline-block;
  cursor: default;
}

#bee .text {
  transition: opacity 0.3s;
}

#bee:hover .text {
  opacity: 0;
}

#bee::after {
  content: "🐝";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

#bee:hover::after {
  opacity: 1;
}
