*{
    box-sizing: border-box;
      margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

body{
    background: linear-gradient(135deg, rgb(211,189,243), rgb(255, 255, 255));
}

#text{
    text-align:left;
    color: black;
    font-size: clamp(3rem, 8vw, 6.25rem);
    font-weight: bold;
    padding-top: 2vw;
    padding-left: 1vw;
    }

.front{
    color: black;
    font-size: 1.2em;
    }

.one{
    color: rgb(177, 10, 243);
    font-size: 1.2em;
    }

.navbar{
    z-index: 1;
    padding: .5vw;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    top: 0;
    position: sticky;
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex-wrap: wrap;
    }

.logo {
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links{
    margin-left: 10px;
    list-style: none;
    display: flex;
    gap: 2px;
    align-items: center;
    }

.nav-links li{
    margin-left: 20px;
}

.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.5s ease;
    }

.nav-item {
    padding: 12px;
}
 .nav-item:hover{
    color: white;
    background-color:rgb(162, 119, 227);
    border-radius: 10px;
    transition: color ease;
    background-color: 1s ease;
     }

#description{
   font-size: clamp(1rem, 1.2vw, 2.5rem);
    color: black;
    padding: 2em;
    text-align: justify;
    }

#inputs{
    position: relative;
    display: inline-flex;
     flex-direction: column;
     gap: 1em;
    padding: 20px;
    align-content: space-between;
    flex-wrap: wrap;
    }

.search-bar{
    width: clamp(200px, 50vw, 400px);
    padding-left: 60px;   
    font-size: clamp(1rem, .7vw, 2.5rem);
    height: 40px ;

        }
    

.search-button{
    padding: 10px 20px;
    font-size: clamp(1rem, .7vw, 2.5rem);
    background-color: rgb(177, 10, 243);
    color: white;
    border: none;
    cursor: pointer;
    }

    .create-button{
    padding: 10px 20px;
    font-size: clamp(1rem, .7vw, 2.5rem);
    background-color: rgb(177, 10, 243);
    color: white;
    border: none;
    cursor: pointer;
    }

.pic{
   
    width: 100%;
     height: auto;
     padding: 2em;
    display: flex;
    justify-content: flex-end;
    }

#homepage-image{
    align-content: flex-start;
    max-width: 45vw;
    height: auto;
    border-radius: 2%;
    left: 50vw;
     bottom: 0;

}

#groups-section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.group-search{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.group-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .group-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .group-list {
    grid-template-columns: 1fr;
  }
}

.group-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.group-item{
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    height: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    
}

.group-item h2{
    font-size: 1.7rem;
}

.group-item p{
    margin-top: 5px;
    font-size: 1.25rem;
    color: #444;
}

.tag{
    background: rgb(209, 110, 249);
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

.group-item:hover{
    background-color: rgba(211, 189, 243, 0.651);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.group-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;

}


.footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    }

